header,
footer {
  box-sizing: border-box;
  background-color: #e16278;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 10px;
  -webkit-box-shadow: 3px 9px 13px -9px rgba(46, 46, 46, 0.31);
  -moz-box-shadow: 3px 9px 13px -9px rgba(46, 46, 46, 0.31);
  box-shadow: 3px 9px 13px -9px rgba(46, 46, 46, 0.31);
}

header h1 {
  margin: 0;
}

header a {
  color: #fff;
}

header a:hover {
  text-decoration: none;
  color: #eee;
}

input.btn-grid {
  margin-right: 10px;
}

.users-holder,
.users-holder-card {
  padding: 20px 0;
}

.btn-holders {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100%;
}

.btn-holders span {
  font-size: 20px;
}

.one-user {
  border: 1px solid #eee;
  padding: 15px;
  box-sizing: border-box;
}

.card-holder {
  border: 1px solid #eee;
  margin-bottom: 30px;
  -webkit-box-shadow: 3px 9px 13px -9px rgba(46, 46, 46, 0.31);
  -moz-box-shadow: 3px 9px 13px -9px rgba(46, 46, 46, 0.31);
  box-shadow: 3px 9px 13px -9px rgba(46, 46, 46, 0.31);
}

.card-holder p {
  font-size: 14px;
  margin: 0;
}

.card-holder .card-info-holder {
  padding: 15px;
  box-sizing: border-box;
}

.users-holder-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.one-user:not(:last-child) {
  border-bottom: none;
}

.user-image-holder {
  padding: 0;
}

.user-image-holder img {
  width: 100%;
  border-radius: 100%;
}

.card-image-holder {
  position: relative;
}

.card-image-holder img {
  width: 100%;
}

.card-image-holder .user-name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin: 0;
  color: #fff;
  text-transform: capitalize;
}

.user-info-holder {
  align-self: center;
}

.user-email > i,
.user-birthday > i {
  margin-right: 10px;
}

.user-info-holder p {
  margin: 0;
  font-weight: 500;
}

footer p {
  margin: 0;
  padding: 30px;
}
